.gallerySection{
    border-left: 30px lightgray solid;
    border-right: 30px lightgray solid;
    margin: 35px 15px 0px 15px;
    height: 90vh;
}
.row{
    display: flex;
}
.imgBlock{
    width: 170px;
    margin: 0 auto;
   
}
.imgBlock img{
    width: 170px;
    height: 130px;
}
.hBlue{
    color: rgb(89, 89, 255);
    font-size: 0.9rem;
    padding: 8px 7px 15px 0px;
}
.pBlack{
    color: black;
    font-size: 0.9rem;
    line-height: 20px;
    padding: 8px 7px 15px 0px;
}
.hGreen{
    color: rgb(50, 237, 109);
    font-size: 0.9rem;
    line-height: 20px;
    padding: 6px 7px 15px 0px;
}