.Homepage{
    color: #FFFFFF;
}

.divHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

.imgHome{
    width: 70vw;
    height: 80vh;
    margin-top: 35px;

}

.linkHome{
    text-align: left;
    background-color: #FFCA41;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 4rem;
    padding: 7px;
    font-family: 'Roboto';
}

.pHome{
    text-align: left;
    color: black;
    font-size: 3rem;
    padding: 7px;  
    margin-bottom: 7px;
    font-family: 'Roboto';
}