$firstColor: black;
$secondColor: white;

$background-image: linear-gradient(45deg, #1ea6f5 12.50%, #ffc342 12.50%, #ffc342 25%, #ff5959 25%, #ff5959 37.50%, #e727f5 37.50%, #e727f5 50%, #1ea6f5 50%, #1ea6f5 62.50%, #ffc342 62.50%, #ffc342 75%, #ff5959 75%, #ff5959 87.50%, #e727f5 87.50%, #e727f5 100%);
$background-size: 226.27px 226.27px;

$numberColor: #e727f5;
$buttonColor: #ffc342;

