*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

h1{
    height: 48px;
    background-color: #333;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

main p{
    text-indent: 15px;
}

nav p{
    text-indent: 15px;
    word-spacing: 10px;
}

h2{
    text-shadow: 2px 2px gray;
}

section p{
    color:black;
    background-color: gray;
}

aside p{
    background-color: #333;
    color: white;
}