section{
    width: 500px;
    height: 500px;
    background-color: rgb(227, 147, 147);
    position: absolute;
}

div{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;
    top:50px;
    left: 50px;
    transition: all 1s;
    transform-origin: bottom left;

}

.right:hover{
    transform: rotate(90deg) scale(1.5);
}





