*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bilder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 700px;
}

.bilder img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
section{
    margin: 2rem 2rem;
}